.home {
  position: fixed;
  top: 0;
}
.home__image {
  width: 100%;
  /* height: calc(100vh - 70px); */
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
}

.homeImage {
  width: 100%;
  /* height: calc(100vh - 70px); */
  height: 100vh;
  object-fit: cover;
}

.home__content {
  z-index: 1;
  position: fixed;
  top: 30%;
  left: 10%;
  color: white;
}

.name {
  font-size: 90px;
  text-shadow: 2px 2px 8px black;
  font-weight: 600;
  margin-bottom: 20px;
}

.title {
  font-size: 40px;
  text-shadow: 2px 2px 8px black;
  color: white;
  font-weight: 400;
}

.remax {
  font-size: 30px;
  text-shadow: 2px 2px 8px black;
  font-weight: 100;
}
