.about {
  background-color: whitesmoke;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.scene_element {
  animation-duration: 500ms;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.scene_element--fadein {
  animation-name: fadeIn;
}

.about .page-header-background {
  object-position: 0px 60%;
}

.about__wrapper {
  padding: 50px 10%;
  display: flex;
}

.content__info {
  padding-right: 50px;
  flex: 1.5;
}

.content__info a {
  background-color: #939343;
  border-color: #939343;
}

.info-bottom {
  font-weight: 500;
}

.content__photo {
  flex: 1;
  overflow: hidden;
  /* padding: 18px 0; */
}

.content-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: top; */
}

@media only screen and (max-width: 1024px) {
  .about__wrapper {
    flex-direction: column-reverse;
  }

  .display-4 {
    font-size: 35px;
  }

  .display-4 + hr {
    margin-bottom: 15px !important;
  }

  .content__photo {
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .about__wrapper {
    padding: 50px 150px;
  }

  .content__info {
    flex: 1;
  }

  .content__photo {
    flex: 1;
  }
}

@media only screen and (min-width: 1500px) {
  .about__wrapper {
    padding: 50px 15%;
  }
}
