.about {
  /* padding: 50px 150px; */
  background-color: whitesmoke;
  /* min-height: calc(100vh - 80px); */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.scene_element {
  animation-duration: 500ms;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.scene_element--fadein {
  animation-name: fadeIn;
}

.about .page-header-background {
  object-position: 0px 40%;
}

.about__wrapper {
  /* padding: 0px 150px 100px 150px; */
  padding: 50px 10%;
  display: flex;
}

/* .about h1 {
  color: rgb(40, 40, 40);
} */

hr {
  /* border-top: 1px solid #007bff !important; */
  /* border-top: 1px solid #939343 !important;
  margin-bottom: 30px;
  width: 70%; */
}

.content__info {
  padding-right: 50px;
  flex: 1.5;
}

.content__info a {
  background-color: #939343;
  border-color: #939343;
}

.info-bottom {
  font-weight: 500;
}

.content__photo {
  flex: 1;
  overflow: hidden;
  /* padding: 18px 0; */
}

.content-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: top; */
}
