.detailed {
  padding: 50px 150px;
  background-color: whitesmoke;
}

.detailed__title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.detailed__overview {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
}

.detailedImage {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  border-radius: 10px;
}

.walk {
  height: 100%;
}

.overview__info {
  /* padding-left: 5%; */
  /* grid-column: 1/4; */
}

table {
  width: 100%;
}

td {
  padding: 10px;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}

tr:nth-child(odd) {
  background-color: #93934340;
}

.tableTitle {
  /* padding-right: 10px; */
  font-weight: bold;
}

.tableValue {
  /* display: flex; */
  /* align-items: start; */
}

.detailed__additional {
  /* padding-top: 20px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.detailed__additional .lead {
  /* padding-left: 30px; */
}

.map__wrapper {
  width: 100%;
  height: 100%;
}

.detailed__additional .google {
  /* padding-top: 50px; */
  /* width: 100%; */
  height: 100%;
  /* grid-column: 1/4; */
}

.detailed__additional .google > div {
  border-radius: 10px;
  box-shadow: 0 0 5px lightgray;
}

.detailed .wrapper__info {
  background-color: white;
}

.detailed .info__general {
  /* display: flex; */
  /* gap: 50px; */
}

.listing-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}
