.detailed {
  padding: 50px 150px;
  background-color: whitesmoke;
}

.detailed__title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.detailed__overview {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
}

.detailedImage {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  border-radius: 10px;
}

.walk {
  height: 100%;
}

table {
  width: 100%;
}

td {
  padding: 10px;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}

tr:nth-child(odd) {
  background-color: #93934340;
}

.tableTitle {
  font-weight: bold;
}

.detailed__additional {
  /* padding-top: 20px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.map__wrapper {
  width: 100%;
  height: 100%;
}

.detailed__additional .google {
  height: 100%;
}

.detailed__additional .google > div {
  border-radius: 10px;
  box-shadow: 0 0 5px lightgray;
}

.detailed .wrapper__info {
  background-color: white;
}

.listing-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}

@media only screen and (max-width: 780px) {
  .detailed {
    padding: 50px 10%;
  }

  .detailed__title > .display-4 {
    font-size: 30px !important;
  }

  .detailed__title {
    flex-direction: column;
  }

  .detailed__overview {
    display: flex;
    flex-direction: column;
  }

  .overview__info {
    margin-top: 20px;
  }

  .detailed__additional {
    display: flex;
    flex-direction: column;
  }

  .detailed__additional > .lead {
    margin-top: 20px;
  }

  #ws-walkscore-tile {
    height: 50vh !important;
  }
}

@media only screen and (min-width: 781px) and (max-width: 1024px) {
  .detailed {
    padding: 50px 10%;
  }
}

@media only screen and (min-width: 1000px) {
  .about__wrapper {
    padding: 50px 15%;
  }
}

@media only screen and (min-width: 1500px) {
  .detailed {
    padding: 50px 15%;
  }
}
