.listings {
  display: flex;
  flex-flow: column nowrap;
  background-color: whitesmoke;
  min-height: calc(100vh - 80px);
  font-weight: 300;
}

.listings::-webkit-scrollbar {
  display: none;
}

.listings .page-header-background {
  object-position: 0px 0%;
}

.listings__wrapper {
  padding: 50px 10% 20px 10%;
}

.filter {
  grid-column: 1/4;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  min-width: 200px;
  max-height: 620px;
  box-shadow: 0 0 7px darkgray;
}

.filter-title {
  font-weight: 300;
}

.filterBtn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.withIcon {
  border-left: none !important;
  padding-left: 0 !important;
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.is-invalid {
  border-left: 1px solid #dc3545 !important;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  padding-left: 5px !important;
}

.input-group-text {
  padding: 0.375rem !important;
  background-color: white !important;
  color: #939343 !important;
  /* border-right: 1px solid white !important; */
}

/* Remove arrows from inupt field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows from inupt field (firefox)*/
input[type="number"] {
  -moz-appearance: textfield;
}

.btn-search {
  margin-left: 15px;
  background-color: #939343 !important;
  border-color: #939343 !important;
}

.btn-secondary {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem #6c757d80 !important;
  border: 1px solid #6c757d80 !important;
}

.form-control:focus,
.btn-search:focus {
  box-shadow: 0 0 0 0.2rem #93934383 !important;
  border: 1px solid #93934383 !important;
}

.additional-filters {
  margin-top: 10px;
  background: white;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 0 0 5px darkgray;
}

.cards-section {
  min-height: calc(100vh - 290px);
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.cards-section::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
}

/* Pagination Styling */

.page-link {
  color: #939343 !important;
}

.page-link.active {
  background-color: #939343 !important;
  border-color: #939343 !important;
  color: white !important;
}

.page-link:focus {
  box-shadow: none !important;
}

/* Media Queries */

@media only screen and (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1540px;
  }
}
