.card-basic {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 7px darkgray;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 200ms;
}

.card-basic:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px gray;
}

.card-basic .address {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 400;
}

.info-wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  min-height: 88px;
}

.listing__desc {
  min-height: 88px;
  width: 351px;
  padding-top: 15px;
}

.desc-content {
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.no-beds {
  min-width: 56px;
  margin-right: 10px;
}

.details__info {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.details__info-sqft {
  display: grid;
  grid-template-columns: 4fr 3fr;
}

.card-basic .price {
  font-size: 24px;
  font-weight: 400;
}

.card-basic .bottom-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.location {
  background-color: #939343;
  border-radius: 20px;
  padding: 3px 11px 3px 7px;
  color: white;
  max-height: 30px;
}

.icon {
  color: white;
  padding-bottom: 3px;
  font-size: 18px !important;
}

.card-icon {
  color: #939343;
}

.card-basic .propertyImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
