.header {
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  transition: all 250ms;
}

.sticky-background {
  background-color: white;
  transition: all 250ms;
}

.header__nav {
  display: flex;
  margin-right: 30px;
}

.header__option {
  color: white;
  padding: 0 20px;
  font-size: 20px;
}

.stick-text {
  color: black;
}

.header__logo {
  margin-left: 50px;
  color: white;
}

.logo {
  font-weight: 100;
}

.link {
  text-decoration: none;
}
