.footer {
  height: fit-content;
  background-color: rgb(0, 0, 60);
  padding: 50px 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer-logo {
  height: 125px;
}

.footer__contact {
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer-link {
  padding-bottom: 15px;
  width: fit-content;
}

.footer-link:hover {
  text-decoration: none;
  color: darkgray;
}

.contact-content,
.footer-link {
  color: darkgray;
  font-weight: 300;
}

.footer-img {
  height: 70px;
  padding-right: 20px;
}

.contact__office,
.personal__phone,
.personal__email {
  display: flex;
}

.personal__phone {
  padding-right: 50px;
}

.footer__icon {
  color: darkgray;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 50px 10%;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
  }

  .footer-img {
    height: 40px;
    object-fit: contain;
    padding-right: 60px;
  }

  .footer__logo {
    order: 3;
    grid-column: 1/4;
    justify-content: center;
    margin-top: 30px;
  }

  .footer-logo {
    height: 60px;
  }

  h4,
  a,
  p {
    font-size: 70%;
  }

  .contact__office {
    flex-direction: column;
  }
}

@media only screen and (min-width: 601px) and (max-width: 780px) {
  .footer {
    padding: 50px 10%;
    height: fit-content;
  }

  .footer-logo {
    height: 70px;
  }

  .contact__office {
    flex-direction: column;
  }

  .footer-img {
    height: 60px;
    object-fit: contain;
  }
}

@media only screen and (min-width: 781px) and (max-width: 1330px) {
  .footer {
    padding: 50px 10%;
    /* grid-template-columns: 1fr 1fr; */
    height: fit-content;
  }

  .contact__office {
    flex-direction: column;
  }

  .footer-img {
    /* height: 60px; */
    object-fit: contain;
  }

  .footer__logo {
    margin-right: 3vw;
  }

  .footer-img {
    margin-left: -5vw;
  }
}

@media only screen and (min-width: 1500px) {
  .footer {
    padding: 50px 15%;
  }
}
